//  Import of reset and colors from the other scss files

@import "reset.scss";
@import "variables.scss";

body {
  font-family: "Gotham", Helvetica, Arial;
  background: $white;
  color: $black;
}


.wrapper {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 40px;
  padding-bottom: 32px;
  width: 100%;
}
.profilePicture img {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
  object-position: center;
}
.introText {
  padding-top: 24px;
  font-size: 16px;
  line-height: 1.6em;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 80px;
}

.headline {
  font-family: "GothamBold";
  font-size: 56px;
  color: $black;
  line-height: 1em;
  margin-bottom: 8px;
}
.subline {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2em;
  color: $grey;
  margin-bottom: 8px;
}
.copy {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.6em;
  color: $grey;
}

footer {
  background: $black;
  color: $white;
}
.copyrights {
  color: lighten( $black, 25% );
}

.externalLink:link, .externalLink:visited, .externalLink:active {
  color: $oceanBlue;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid;
}
.externalLink:hover, .externalLink:focus {
  color: $accentcolor;
}
.externalLink::after {
    padding-left: 8px;
    content: "⇀";
}

#mailingList {
  background: $mailingListColor;
  border-bottom: 1px solid darken($mailingListColor, 3%);
  padding: 8px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
#mailingList span {
  display: inline-block;
}
.mailingListLabel {
  font-size: 16px;
  color: $mailingListFontColor;
}

.mailingList input {
  display: inline-block;
}

fieldset {
  display: inline-block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 0px;
}
.mailingListInput {
  display: block;
  width: 100%;
  font-size: 16px;
  border:0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $mailingListFontColor;
  background: $mailingListColor;
  font-family: Gotham;
  padding: 8px 10px;
  margin: 8px 8px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-bottom:1px solid lighten($mailingListFontColor, 25%);
}
.mailingListInput::placeholder {
  color: lighten($mailingListFontColor, 40%);
}
.mailingListInput:focus {
  border-bottom:1px solid $mailingListFontColor;
}
.mailingListContainer {
  display:inline-block;
  padding: 0 8px;
}

#mailingList.success {
  background-color: $greenish;
  border-bottom: 1px solid darken($greenish, 5%);
}
.mailingListButton {
  background-color: transparent;
  border:1px solid lighten($mailingListFontColor, 25%);
  padding:10px 30px;
  border-radius: 3px;
  margin-left: 24px;
  font-size: 16px;
  color: $mailingListFontColor;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.mailingListButton:hover {
  color: $mailingListColor;
  border:2px solid $mailingListFontColor;
  background: $mailingListFontColor;
  cursor: pointer;
}

@media (min-width: 767px) {
  #mailingList {
    padding: 8px 16px;
  }
  mailingListContainer {
    padding: 0 16px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .introText {
    margin-left: -80px;
    max-width: 560px;
    background: none;
  }
  .fullBackground {
    min-width: 100vw;
    min-height: 100vh;
  }
  .wrapper {
    max-width: 960px;
    padding: 0;
  }
  footer {
    padding-top: 80px;
    padding-bottom: 160px;
  }
  #mailingList {
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0px;
  }
}
