//  Import of reset and colors from the other scss files

@import "reset.scss";
@import "variables.scss";

body {
  font-family: "Gotham", Helvetica, Arial;
  background: $white;
  color: $black;
}


.wrapper {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 40px;
  padding-bottom: 32px;
}
.profilePicture img {
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
  object-position: center;
}
.introText {
  padding-top: 24px;
  font-size: 16px;
  line-height: 1.6em;
  padding-left: 16px;
  padding-right: 16px;
}

.headline {
  font-family: "GothamBold";
  font-size: 56px;
  color: $black;
  line-height: 1em;
  margin-bottom: 8px;
}
.subline {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2em;
  color: $grey;
  margin-bottom: 8px;
}
.copy {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.6em;
  color: $grey;
}

footer {
  background: $black;
  color: $white;
}
.copyrights {
  color: lighten( $black, 25% );
}

@media (min-width: 767px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .introText {
    margin-left: -80px;
    max-width: 560px;
    background: none;
  }
  .fullBackground {
    min-width: 100vw;
    min-height: 100vh;
  }
  .wrapper {
    max-width: 960px;
  }
  footer {
    padding-top: 80px;
    padding-bottom: 160px;
  }

}
