// Nylund colors

$white: #FFFFFF;
$black: #333333;
$grey: #848484;
$lightgrey: #EDEDED;
$accentcolor: #13F5A4;
$silver: #F6F6F6;
$oceanBlue: #015A9E;
$greenish: #23CD71;
$mailingListColor: #F5F7F9;
$mailingListFontColor: darken($mailingListColor, 40%) ;
