<div id="mailingList" class="{{clazz}}">
  <div class="mailingListContainer">


    <span>
        <p class="mailingListLabel">{{ downloadCopy }}</p>
    </span>
    <span>
      <fieldset>
        <form action="https://facebook.us18.list-manage.com/subscribe/post" method="POST" class="mailingList">

        <input type="hidden" name="u" value="b09fc928e2c3bfa6110ddfcbf">
        <input type="hidden" name="id" value="7818a13877">

          <span>
            <input type="text" name="MERGE0" class="mailingListInput" placeholder="Your email address" required>
          </span>
          <span>
            <input type="submit" class="mailingListButton" value="Download">
          </span>
        </form>

      </fieldset>
    </span>
    <!-- Change in sucess state by enabling this paragraph and add success class to mailingList div -->
    <p class="mailingListLabel mailingListOutcome" hidden id="successLabel">Great, you should have some music in your inbox!</p>
  </div>
</div>
