<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nylund – Electronica with a wide range of influences.</title>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700|Raleway:800" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="styles/main.css">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#FFFFFF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1711573128923111');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1711573128923111&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118367549-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118367549-1');
    </script>
  </head>
  <body>
    <!-- Add your site or app content here -->

    <!--
    <header>
      <div class="container">
      </div>
    </header>
    -->

    {{#unless isLandingPage}}
      {{> mailingList }}
    {{/unless}}

    <section class="fullBackground container" id="stage">
      <div class="profilePicture">
        <img src="images/nylund-artist-portrait.jpg" alt="">
      </div>
      <div class="introText">
        <h1 class="headline">Nylund</h1>
        <h2 class="subline">Organic electronica, haunting melodies and jagged beats</h2>
        <p class="copy">If you see beauty in both delicate harmony and hard-rocking electronic grooves then my music is for you! It’s like an old school soundtrack featuring the likes of Bonobo, Röyksopp and Nils Frahm, combined with a healthy dose of alternative rock.</p>
        <!-- <a href="https://www.facebook.com/nylundofficial/" class="externalLink facebookLink">Visit my offical facebook site</a> -->
        {{#if isLandingPage}}
          {{> mailingList }}
        {{/if}}
      </div>
    </section>

    {{#unless isLandingPage}}
      <div class="socialWrapper">
        <div class="spotifyFloatingWrapper">
            <a href="https://open.spotify.com/artist/0V16HwLxM75oytOvRdpLmO" class="spotifyFloating">
              <img src="images/socialIconSpotify.svg" alt="">
              <p class="socialFloatingLabelMobile">Listen on Spotify</p></a>
        </div>
        <div class="facebookFloatingWrapper">
            <a href="https://www.facebook.com/nylundofficial/" class="facebookFloating">
              <img src="images/socialIconFacebook.svg" width="36px" height="36px" alt="">
              <p class="socialFloatingLabelMobile">Offical Facebook Site</p></a>
        </div>
      </div>
    {{/unless}}
    </div>

    <!-- <footer>
      <div class="container">
        <div class="wrapper">
          <p class="copyrights">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nosscripttrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </footer> -->

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- build:js scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
